<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="demo_directive">
    <div ng-controller="my_controller">
        <ul>
            <li>Họ tên: {{ sv.ten }}</li>
            <li>
                Giới tính:
                <span ng-if="sv.gioiTinh == 1">Nam</span>
                <span ng-if="sv.gioiTinh == 0">Nữ</span>
            </li>
            <li>Điểm: {{ sv.diem }}</li>
            <li>
                <span ng-hide="sv.diem > 0">Bạn chưa học môn WEB207</span>
                <span ng-show="sv.diem > 0 && sv.diem < 5">Bạn chưa qua môn WEB207</span>
                <span ng-show="sv.diem >= 5">Bạn đã qua môn WEB207</span>
            </li>
            <li ng-switch="sv.chuyen_nganh">
                Chuyên ngành:
                <span ng-switch-when="UDPM">Ứng dụng phần mềm</span>
                <span ng-switch-when="TKTW">Thiết kế trang web</span>
                <span ng-switch-when="LTMT">Lập trình máy tính</span>
                <span ng-switch-default>Không hợp lệ</span>
            </li>
            <li>Các môn đã học
                <ul>
                    <li ng-repeat="monHoc in sv.mon_da_hoc">
                        {{$index }}-{{monHoc}}
                    </li>
                    
                </ul>
            </li>
        </ul>
    </div>    
    <script src="../js/angularjs.min.js"></script>
    <script>
        const app = angular.module("demo_directive",[]);
        function myController($scope){
            $scope.sv = {
                ten: "Tứ",
                gioiTinh: "1",
                diem:"10",
                chuyen_nganh: "UDPM",
                mon_da_hoc: [
                    "Nhap mon lap trinh",
                    "Lap trinh Java 1",
                    "Lap trinh Java 2",
                    "Lap trinh Java 3",
                ],
            };
        }
        app.controller("my_controller", myController);

    </script>
</body>
</html>